/* YourComponent.css */
.dash-border {
    position: relative;
  }
  
  .dash-border::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* فاصله‌ی مناسب به سمت چپ */
    transform: translateY(-50%);
    width: 100%; /* عرض خط داش‌دار */
    height: 1px;
    background: #000; /* رنگ خط داش‌دار */
    border-bottom: 1px dashed #000; /* اگر نیاز به خط داش‌دار هم دارید */
    z-index: 1; /* اگر خط داش‌دار به عنوان پس‌زمینه باشد */
  }


  .parent {
    display: flex;
    gap:10px;
    /* justify-content: center; */
    align-items: center;
  }

  .childdiv {
    /* border-t-1 border-dash border-t-red-500  after:w-1 h-1 rounded-full after:content-['.']   */
    border: 1px dashed red;
    width: 20px;


  }
  .childdiv::after {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: blue;
    content: '';
  }



  .parent1 {
    display: flex;
    gap:16px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    /* text-align: right; */
  }
.login {
  font-size: 26px;
  font-weight: 400px;
  color: #FFFFFF;
}
  .childdiv1 {
    /* border-t-1 border-dash border-t-red-500  after:w-1 h-1 rounded-full after:content-['.']   */
    border-top: 2px dashed #FDFDFD;
    width: 91%;
    height: 1px;

    margin-top: 10px;
    position: relative;


  }
  .childdiv1::after {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #FDFDFD;
    content: '';
    position: absolute;
    right: 0;
    
    top: -2px;
    margin-right: -10px;
  }
  .childdiv1::before {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #FDFDFD;
    content: '';
    position: absolute;
    left: 0;
    
    top: -2px;
    margin-left:-11px;
  }